extends layout
extends menu

block content
	h1 Edit profile
	action = user ? "/profile/edit/"+user.id : '/login'
	firstname = user ? user.name.first : ''
	lastname = user ? user.name.last : ''
	email = user ? user.id : ''
	currentCountry = user ? user.currentCountry : ''
	homeCountry = user ? user.homeCountry : ''
	form(method="post", action=action)
		label(for='firstname') First Name:
		input#firstname(name='firstname', type='text', value=firstname)
		
		label(for='lastname') Last Name:
		input#lastname(name='lastname', type='text', value=lastname)
		
		label(for='currentCountry') Current country:
		input#currentCountry(name='currentCountry', type='text', placeholder="CAD, USD .. ", value=currentCountry)
			
		label(for='homeCountry') Home country:
		input#homeCountry(name='homeCountry', type='text', placeholder="INR, EUR .. ", value=homeCountry)
		
		input(class="button", type='submit', value='Update')