if !(transactions && transactions != 0)
		p No transactions yet
	else
		.row
			.large-3.columns
				form(id="groupby")
					select(name="month")
						i = 1 
						each month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
							option(value=i++)= month 
								| - 2013
		.row
			.large-12.small-12.columns
				table(width="100%")
					tr
						th 
							a(href="/transactions/sortBy/created") Date
						th 
							a(href="/transactions/sortBy/place") Place
						th 
							a(href="/transactions/sortBy/category") Category
						th 
							a(href="/transactions/sortBy/paymentType") Payment type
						th 
							a(href="/transactions/sortBy/amountForeign") Amount (CAD)
						th 
							a(href="/transactions/sortBy/amountHome") Amount (INR)
					each transaction in transactions
						tr
							td= transaction.created.toDateString()
							td= transaction.place
							td= transaction.category
							td= transaction.paymentType
							td= transaction.amountForeign
							td= transaction.amountHome
							td 
								a(href="/transaction/remove/" + transaction._id)
									i.fi-x
							td 
								a(href="/transaction/edit/" + transaction._id)
									i.fi-pencil
					tr
						each total in totals
							td Total
							td 
							td 
							td 
							td= total.totalForeign
							td= total.totalHome
							td
							td