extends ../layout

block content
	if !(transactions && transactions.length)
		p No transactions yet
	else
		table.transactions(border='1')
			tr
				th 
					a(href="/transactions/sortBy/created") Date
				th 
					a(href="/transactions/sortBy/place") Place
				th 
					a(href="/transactions/sortBy/category") Category
				th 
					a(href="/transactions/sortBy/paymentType") Payment type
				th 
					a(href="/transactions/sortBy/amountForeign") Amount (CAD)
				th 
					a(href="/transactions/sortBy/amountHome") Amount (INR)
			each transaction in transactions
				tr
					td= transaction.created.toDateString()
					td= transaction.place
					td= transaction.category
					td= transaction.paymentType
					td= transaction.amountForeign
					td= transaction.amountHome
					td 
						a(href="/transaction/remove/" + transaction._id) remove
					td 
						a(href="/transaction/edit/" + transaction._id) Edit
			tr
			each total in totals
				td Total
				td 
				td 
				td 
				td= total.totalForeign
				td= total.totalHome