extends ../layout

block content
	h2= transaction.place
	h2= transaction.category
	h2= transaction.paymentType
	h2= transaction.amountForeign
	h2= transaction.amountHome
	h2= transaction.created

	a(href="/transaction/remove/" + transaction.id) Remove 
	|| 
	a(href="/transaction/edit/" + transaction.id) Edit